# ENV type
WP_ENV=development

# databases
WP_PROD_DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/webpay_prod
WP_DEV_DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/webpay_dev
WP_TEST_DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/webpay_test

# SMTP
WP_SMTP_HOST=localhost
WP_SMTP_PORT=1025

# SPA domain
WP_SPA_HOST_URL='http://webpay-spa:2222/#!'

# OTP
OTP_TTL=300

# JWT
JWT_KEY=secret_key
JWT_TTL=1800

# mobile app
MOBILE_KEY=secret_key

# app settings
APP_NAME=My app
BANK_NAME=My Bank
DEFAULT_CURENCY=USD
DEFAULT_COUNTRY=US

# exceptions notification
ERROR_EMAIL=damir@webteh.us,borna@webteh.us

# puma server
PUMA_MAX_PROCESSES = 5
PUMA_MAX_THREADS = 5
PUMA_WORKER_KILLER = true
PUMA_WORKER_KILLER_INTERVAL_IN_MINUTES = 10

########## SERVICES ##########

# core bank service; i.e. fiserv
CORE_BANK_SERVICE=fiserv

# switch
# ISO_SWITCH_URL=https://jsecmodule.herokuapp.com
ISO_SWITCH_URL=https://test-webpay.mybank.com/jsecmodule

# crypto
CRYPTO_INTERFACE=luna-crypto

# aquiring module
INFOSWITCH_MODULE=vidanova
INFOSWITCH_AUTHENTICITY_TOKEN=1d4ae...c80a
INFOSWITCH_SECRET=fd4a...1f70

# pagatinu mock/live
PAGATINU_CLIENT=mock
PAGATINU_URL=http://pagatinu:12345/GatewayServiceASP.asmx

# fiserv mock/live
# NOTE: put header settings in /.env.settings/fiserv_header.json
FISERV_CLIENT=mock
FISERV_URL=http://fiserv:12345/TEST/CRG.aspx
FISERV_WALLET_ACCOUNT_ID=270900000006
FISERV_WALLET_ACCOUNT_TYPE=GL

# memcached, default is localhost if not set
# MEMCACHED_URL=remote-host:11211

# services
# CurGas
# CG_HOST_URL=https://codsapi.curoil.com
# CG_USERNAME=pagafasil
# CG_PASSWORD=curgas

# Pagatinu V2
# PG_HOST_URL=https://blue.ppe2.net
# PG_RECHARGE_PATH=/srater2-web/resources/recharge
# PG_PAYMENT_PROVIDER=Pagafasil
# PG_USERNAME=bluetestadmin
# PG_PASSWORD=Siemens12345!

# TAX
# TAX_HOST_URL=https://tax.scalenext.io
# TAX_API_KEY=j8m64901rxvg1nk0asu3s2fbx4tjw8
